In [ ]:
#============= Python Part-1=========================
1) syntax
2) Baic python
3) Conditional : if else
4) Functions
5) Loops: For/while
    
# strings
# list
# dic
# tuple
# sets
# file handing

In [2]:
name='python'
type(name)

str

In [4]:
name

'python'

In [3]:
name1="python"
name1

'python'

In [5]:
print(name)

python

In [6]:
# doc string: triple quotes
# multilple lines
# in jupter: markdown
# notepad++ 
# vscode
# pycharm
string1="""hi how are you
   im good
   im learning python"""

In [7]:
string1

'hi how are you\n   im good\n   im learning python'

- triple quotes is means doc string

- it is an informatiom about the code

In [10]:
"""
this program about infinite while loop
the original password='python'
function:
      arguments: None
      return: None
"""
def pwd():
    password='python'  # random number  (1,10)
    while True:
        user_pwd=input("enter pwd")  # user number= eval(input)
        if password==user_pwd:
            print('you won')
            break
        else:
            print("the password is wrong")

10

In [12]:
print("hello 'python'")

hello 'python'

In [13]:
print('hello "python"')

hello "python"

- entire string will be in double quotes, the highlited string in single quotes
- entire string will be in single quotes, the highlited string in double quotes

In [14]:
string1='python'
string2=string1 # 'py'
string3='hello' # 'he'
string4=string3 # 'he'
string4=string1 # 'py'
string4=string2 # 'py'
string5=string4 #'py'
string5

'python'

- type

- len

- max

- min

In [15]:
string1='python'
type(string1)

str

In [16]:
len(string1)
# p y t h o n

6

In [17]:
max(string1)

'y'

In [18]:
min(string1)

'h'

*In*

In [24]:
# iterate a loop on string1
# print each letter
# get the ascii value
'p' in 'python'
'y' in 'python'
't' in 'python'
'h' in 'python'
'o' in 'python'
'n' in 'python'

# i in 'python'

True

In [26]:
for i in 'python':
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

- type

- max

- min

- len

- in

In [28]:
string1='hai'
string2='python'

In [29]:
string1+string2  # string concatination

'haipython'

In [30]:
string1-string2
# i can not do subtraction between two strings

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [31]:
string1/string2
# i can not do division between two strings

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [34]:
string1*string2

TypeError: can't multiply sequence by non-int of type 'str'

In [35]:
2*string2

'pythonpython'

In [ ]:
string1+string2
string1-string2
string1*string2
string1/string2
# read the errors

In [ ]:
# how to read the string
# single /double/triple
# triple: docstring
# type
# len
# max
# min
# + : conacte
# - :
# *
# /

In [1]:
string1='hello'
string2='python'

In [2]:
string1+string1

'hellohello'

In [3]:
2*string1

'hellohello'

## indexing

In [4]:
name='python'

In [5]:
# how many letters are there: 6
# python index start with :0

p   y    t    h    o    n
0   1    2    3    4    5

In [6]:
name[0]

'p'

In [7]:
name[1]

'y'

In [ ]:
name[0]    #  'p'
name[1]    #  'y'
name[2]    #  't'
name[3]    # 'h'
name[4]    #  'o'
name[5]    # 'n'

name[i]

In [10]:
# how to print any word/sentence by using range method
for i in range(6):
    print(name[i])   # iter1:  i=0    name[0]   p
                     # iter2:  i=1    name[1]   y

p
y
t
h
o
n

In [12]:
name='python'
for i in range(7):
    print(name[i])   #  0   1   2   3  4  5  name[6]

p
y
t
h
o
n

IndexError: string index out of range

In [14]:
name1='hello how are you'
# spaces also consider one character
print(len(name1))
# i need to provide some number
for i in range(len(name1)):
    print(name1[i],end=' ')

17
h e l l o   h o w   a r e   y o u

In [ ]:
# wap ask the user print the letters from a given word 
# using for loop
# 'the index of p is:0'
# 'the index of y is:1'

# i want letter as well as attached index number

In [17]:
name2='python'
for i in range(len(name2)):
    print('the index of {} is:{}'.format(name2[i],i))

the index of p is:0
the index of y is:1
the index of t is:2
the index of h is:3
the index of o is:4
the index of n is:5

In [18]:
# same code using while loop
i=0
name2='python'
while i<len(name2):
    print('the index of {} is:{}'.format(name2[i],i)) 
    i+=1

the index of p is:0
the index of y is:1
the index of t is:2
the index of h is:3
the index of o is:4
the index of n is:5

In [ ]:
-6  -5   -4   -3   -2   -1
p   y    t    h    o    n
0   1    2    3    4    5 =========> postive index

In [21]:
name3='python'
name3[-6]

'p'

In [ ]:
# wap ask the user print the letters from a given word 
# using for loop
# 'the negative index of p is:-6'
# 'the negative index of y is:-5'

# i want letter as well as attached index number

In [32]:
name3='python'
for i in range(-len(name3),0):
    print("the negative index of {} is {}".format(name3[i],i))            #  -6   -5    -4   -3   -2   -1

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [34]:
name4='python'
for i in range(len(name4)):
    print("the negative index of {} is {}".format(name4[i],i-len(name4)))

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [35]:
# how to print -6 -5 -4 -3 -2 -1 using while loop
i=0
name4='python'
while i>-len(name4):
    print('the -ve index of {} is : {}'.format(name4[i],-len(name4)-i))
    i-=1

the -ve index of p is : -6
the -ve index of n is : -5
the -ve index of o is : -4
the -ve index of h is : -3
the -ve index of t is : -2
the -ve index of y is : -1

In [36]:
name='python'
i=-len(name)
while i<0:
    print("The negative Index of {} is {}".format(name[i],i))
    i=i+1

The negative Index of p is -6
The negative Index of y is -5
The negative Index of t is -4
The negative Index of h is -3
The negative Index of o is -2
The negative Index of n is -1

In [ ]:
'the postive index is 0 and negative index is -6 for p'
'the postive index is 1 and negative index is -5 for y'


for  i   in  range():
    0      -6
    1      -5

In [37]:
name='python'
for i in range(len(name)):
    print('the positivr index is: {} the negetive index is: {} for {}'. format(i,i-len(name),name[i]))

the positivr index is: 0 the negetive index is: -6 for p
the positivr index is: 1 the negetive index is: -5 for y
the positivr index is: 2 the negetive index is: -4 for t
the positivr index is: 3 the negetive index is: -3 for h
the positivr index is: 4 the negetive index is: -2 for o
the positivr index is: 5 the negetive index is: -1 for n

In [39]:
name6='python'
for i in range(len(name6)):
    print("the positive index is {} and negative index is {} for {}".format(i,i-len(name6),name6[i]))

the positive index is 0 and negative index is -6 for p
the positive index is 1 and negative index is -5 for y
the positive index is 2 and negative index is -4 for t
the positive index is 3 and negative index is -3 for h
the positive index is 4 and negative index is -2 for o
the positive index is 5 and negative index is -1 for n

In [40]:
name2=input('enter a word')
for i in range(len(name2)):
    print('the possitive index is {} and negative index is {} for {}'.format(i,i-len(name2),name[i]))

enter a wordpython
the possitive index is 0 and negative index is -6 for p
the possitive index is 1 and negative index is -5 for y
the possitive index is 2 and negative index is -4 for t
the possitive index is 3 and negative index is -3 for h
the possitive index is 4 and negative index is -2 for o
the possitive index is 5 and negative index is -1 for n

In [41]:
word = "Learn Python"
for i in range(len(word)):
    print("The +ve Index is {} and -ve Index is {} for:{}".format(i,i-len(word),word[i-len(word)]))

The +ve Index is 0 and -ve Index is -12 for:L
The +ve Index is 1 and -ve Index is -11 for:e
The +ve Index is 2 and -ve Index is -10 for:a
The +ve Index is 3 and -ve Index is -9 for:r
The +ve Index is 4 and -ve Index is -8 for:n
The +ve Index is 5 and -ve Index is -7 for:
The +ve Index is 6 and -ve Index is -6 for:P
The +ve Index is 7 and -ve Index is -5 for:y
The +ve Index is 8 and -ve Index is -4 for:t
The +ve Index is 9 and -ve Index is -3 for:h
The +ve Index is 10 and -ve Index is -2 for:o
The +ve Index is 11 and -ve Index is -1 for:n

In [49]:
for i in range(len(name4)):
    print(i,name4[i],i-len(name4))
    
    
#======================= negative index===================    
name4='python'
for i in range(len(name4)):
    print("the negative index of {} is {}".format(name4[i],i-len(name4)))      
    
#======================= pos index===================    
name4='python'
for i in range(len(name4)):
    print("the positive index of {} is {}".format(name4[i],i))

0 p -6
1 y -5
2 t -4
3 h -3
4 o -2
5 n -1
the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1
the positive index of p is 0
the positive index of y is 1
the positive index of t is 2
the positive index of h is 3
the positive index of o is 4
the positive index of n is 5

In [ ]:
sent='hai hai how are you'
#Q1 print how many 'a' are there : 3
# count=0
# iterate the leeters through for loop
#        apply the if condition letter=='a'
#                    count+=1


#Q2 print the index of 'a': 

#Q3 print the number of vowels: a  a  i  o  a  e  o  u: 9

# Q4 print the number of unique vowels:  a i   o   e  u:4

In [52]:
#Q1 print how many 'a' are there : 3
# count=0
# iterate the leeters through for loop
#        apply the if condition letter=='a'
#                    count+=1


sent='hai hai how are you'
# first iteratre letters
count=0
for i in range(len(sent)):
    if sent[i]=='a':             
        count=count+1
        
print("no of repated a are:",count)

# step-1:   i=0    sent[0]='h'    'h'=='a'    F
# step-2:   i=1    sent[1]='a'     'a'=='a'   T ====count=0+1= 1

h
a
i

h
a
i

h
o
w

a
r
e

y
o
u
no of repated a are: 3

In [53]:
sent='hai hai how are you'
# first iteratre letters
count=0
for i in range(len(sent)):
    if sent[i]=='a':             
        count=count+1
        print(i)
        
print("no of repated a are:",count)

1
5
12
no of repated a are: 3

In [57]:
########################################## Q1) getting number of 'a' #####################################
sent='hai hai how are you'
# first iteratre letters
count=0
for i in range(len(sent)):
    if sent[i]=='a':             
        count=count+1
        
print("no of repated a are:",count)


#################################### Q2)getting indexof 'a' ###############################################
sent='hai hai how are you'
# first iteratre letters
count=0
for i in range(len(sent)):
    if sent[i]=='a':             
        count=count+1
        print(i)
        
print("no of repated a are:",count)


#################################### Q3) No of vowels in the given sentence##################################

sent='hai hai how are you'
# first iteratre letters
count=0
for i in range(len(sent)):
    if sent[i] in 'aeiou':             
        count=count+1
        
print("no of repated vowels are:",count)

no of repated a are: 3
1
5
12
no of repated a are: 3
no of repated vowels are: 9

In [55]:
'a' in 'aeiou'

True

In [ ]:
# take an empty string
# string1=''
# iterate through loop
#  if  'a' in 'aeiou':
#       if 'a' not in string1"
#           string1=string1+'a'    # string1='a'

In [ ]:
# check two conditions parallal
#  the given letter is in 'aeiou' 
#  if that is true check about same letter it is there in empty string
#  if it is not there move to empty string
#  if it is there dont move it